{% extends 'travel/index.html' %}

{% block title %} Agencies {% endblock %}


{% block content %}

<h1>Agency List</h1>
<table>]
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
    </tr>
    
    {% for agency in agencies %}
        <tr>
        
       
            
                <td>{{agency}}</td>
                <td>{{agency.reg_number}}</td>
                {%for i in agencyAdmin %}
                    {% if i.agency_id == agency %}
                        <td>{{ i.username }}</td>
                    {% endif %}
                {% endfor%}
        
        </tr>
    {% endfor %}
</table>




{% endblock %}