<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vus Lay</title>
    <style>
        .test ol li {
            width: 25px;
            height: 25px;
            background-color: blue;
            margin: 5px;
            line-height: 25px;
            list-style-type: none;
            text-align: center;
            color: aliceblue;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="test">
        <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>

        </ol>
    </div>
    
</body>
</html>